html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

.board {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;

  max-width: 1200px;
  height: calc(100% - 100px);
  margin: 0 auto;

  padding: 50px 2rem;
}

.category {
  display: grid;
  grid-gap: 10px;

  max-width: 1200px;
  height: calc(100% - 100px);
}

.title {
  display: grid;
  justify-items: center;
  align-items: center;

  background-color: #295390;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.cell {
  display: grid;
  justify-items: center;
  align-items: center;

  background-color: #043377;
  color: #E0D71D;
  cursor: pointer;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;

  width: 100%;
  height: 100%;

  background-color: #295390;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;

  transition: transform 0.5s ease-in;
}

.responses {
  display: grid;
  justify-items: center;
  align-items: center;

  align-self: stretch;

  padding: 15px;
  background-color: #043377;
}

.clue {

  max-width: 900px;
  padding: 15px 15px 0 15px;
  margin: auto;

  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.timer {
  height: 10px;

  color: #fff;
  font-size: 2rem;
  font-weight: 700;

  transform: translateY(-100px)
}



.button {
  margin: 10px;
  padding: 15px 50px;

  background: linear-gradient(to bottom, #FEF9F2, #B7B2F6);
  border: 3px solid #000;
  border-radius: 50px;
  color: #16316F;
  cursor: pointer;
  font-size: 1.0rem;
  font-weight: 700;
  text-transform: uppercase;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);


}

.close {
  padding: 5px;
  width: 160px;
  height: 30px;
  margin: 0 auto;

  background: #D9D6FE;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);


}

.close::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #D9D6FE;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.close::after {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 15px solid #D9D6FE;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.answer {
  color: #E0D71D;
  font-size: 2rem;
  font-style: italic;

  opacity: 0;
  visibility: hidden;

  transition: 0.5s;
}

.show,
.show .button {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.show .close {
  transition: 0.8s 1.8s;
}


@media (min-width: 480px) {
  .clue {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .clue {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {}